{
  "extends": "@istanbuljs/nyc-config-typescript",
  "check-coverage": false,
  "branches": 99,
  "lines": 99,
  "functions": 99,
  "statements": 99,
  "reporter": ["html"],
  "skip-full": true,
  "per-file": true
}
